<tr data-sortable-list-endpoint="<%= move_my_ranked_model_path(my_ranked_model) %>">
  <td class="cursor-grabbing border border-slate-300 p-4 text-slate-500 dark:border-slate-700 dark:text-slate-400" data-sortable-list-handle><%= arrows_up_down_icon %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_ranked_model.my_string %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_ranked_model.my_scope %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_ranked_model.row_order %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_ranked_model.row_order_rank %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_ranked_model.updated_at %></td>
</tr>
