<!-- mt-14 はナブバーの高さ -->
<aside
  id="logo-sidebar"
  class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full border-r border-gray-200 bg-white pt-14 transition-transform sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full overflow-y-auto bg-white px-3 py-4">
    <ul class="space-y-2 font-medium">
      <%= render SidebarItemComponent.new(name: "Dashboard", url: root_path) do |component| %>
        <% component.with_icon { helpers.dashboard_icon } %>
      <% end %>
      <%= render SidebarItemComponent.new(name: "Kanban", url: root_path) do |component| %>
        <% component.with_icon { helpers.kanban_icon } %>
        <% component.with_badge do %>
          <span
            class="ml-3 inline-flex items-center justify-center rounded-full bg-gray-200 px-2 text-sm font-medium text-gray-800"
            >Pro</span
          >
        <% end %>
      <% end %>
      <%= render SidebarItemComponent.new(name: "Inbox", url: root_path) do |component| %>
        <% component.with_icon { helpers.inbox_icon } %>
        <% component.with_badge do %>
          <span
            class="ml-3 inline-flex h-3 w-3 items-center justify-center rounded-full bg-blue-100 p-3 text-sm font-medium text-blue-800"
            >3</span
          >
        <% end %>
      <% end %>
      <%= render SidebarItemComponent.new(name: "Users", url: root_path) do |component| %>
        <% component.with_icon { helpers.users_icon } %>
      <% end %>
      <%= render SidebarItemComponent.new(name: "Products", url: root_path) do |component| %>
        <% component.with_icon { helpers.products_icon } %>
      <% end %>
      <%= render SidebarItemComponent.new(name: "Sign In", url: root_path) do |component| %>
        <% component.with_icon { helpers.sign_in_icon } %>
      <% end %>
      <%= render SidebarItemComponent.new(name: "Sign Up", url: root_path) do |component| %>
        <% component.with_icon { helpers.sign_up_icon } %>
      <% end %>
    </ul>
  </div>
</aside>
