<div id="<%= dom_id my_model %>">
  <p>
    <strong>My string:</strong>
    <%= my_model.my_string %>
  </p>

  <p>
    <strong>My text:</strong>
    <%= my_model.my_text %>
  </p>

  <p>
    <strong>My integer:</strong>
    <%= my_model.my_integer %>
  </p>

  <p>
    <strong>My bigint:</strong>
    <%= my_model.my_bigint %>
  </p>

  <p>
    <strong>My float:</strong>
    <%= my_model.my_float %>
  </p>

  <p>
    <strong>My decimal:</strong>
    <%= my_model.my_decimal %>
  </p>

  <p>
    <strong>My datetime:</strong>
    <%= my_model.my_datetime %>
  </p>

  <p>
    <strong>My time:</strong>
    <%= my_model.my_time %>
  </p>

  <p>
    <strong>My date:</strong>
    <%= my_model.my_date %>
  </p>

  <p>
    <strong>My boolean:</strong>
    <%= my_model.my_boolean %>
  </p>

</div>
