<div id="<%= dom_id my_pg_model %>">
  <p>
    <strong>My model:</strong>
    <%= my_pg_model.my_model_id %>
  </p>

  <p>
    <strong>My binary:</strong>
    <%= my_pg_model.my_binary %>
  </p>

  <p>
    <strong>My string array:</strong>
    <%= my_pg_model.my_string_array %>
  </p>

  <p>
    <strong>My text array:</strong>
    <%= my_pg_model.my_text_array %>
  </p>

  <p>
    <strong>My integer array:</strong>
    <%= my_pg_model.my_integer_array %>
  </p>

  <p>
    <strong>My json:</strong>
    <%= my_pg_model.my_json %>
  </p>

  <p>
    <strong>My jsonb:</strong>
    <%= my_pg_model.my_jsonb %>
  </p>

  <p>
    <strong>My daterange:</strong>
    <%= my_pg_model.my_daterange %>
  </p>

  <p>
    <strong>My uuid:</strong>
    <%= my_pg_model.my_uuid %>
  </p>

  <p>
    <strong>My interval:</strong>
    <%= my_pg_model.my_interval %>
  </p>

</div>
