<tr data-sortable-list-endpoint="<%= move_my_list_item_path(my_list_item) %>">
  <td class="cursor-grabbing border border-slate-300 p-4 text-slate-500 dark:border-slate-700 dark:text-slate-400" data-sortable-list-handle><%= arrows_up_down_icon %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_list_item.my_string %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_list_item.my_scope %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_list_item.position %></td>
  <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= my_list_item.updated_at %></td>
</tr>
