<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-cache-control" content="no-cache">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/sidebar" %>

    <div class="p-4 sm:ml-64 mt-16">
      <div class="rounded-lg border-2 border-dashed border-gray-200 p-4">
        <%= notice %>
        <%= alert %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
