<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render PageCornerRibbonComponent.new %>

    <!-- https://flowbite.com/docs/components/sidebar/#sidebar-with-navbar -->
    <!-- ナブバーは z-20、サイドバーは z-10 -->
    <%= render NavbarComponent.new %>
    <%= render SidebarComponent.new %>

    <!-- ml-64 はサイドバーの w-64 と揃える -->
    <!-- mt-14 はナブバーの高さ -->
    <div class="mt-14 p-4 sm:ml-64">
      <% if notice %>
        <div class="mb-4 rounded-lg bg-blue-50 p-4 text-sm text-blue-800" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="p-5">
          <%= turbo_stream_from "online-users" %>
          <%= turbo_stream_from current_user, channel: OnlineChannel, data: { stream_id: SecureRandom.uuid } %>
          <p>オンライン中のユーザー</p>
          <ul id="online-users">
            <% online_user_ids = Kredis.hash("user_id_by_stream_id").values.uniq %>
            <% online_users = User.where(id: online_user_ids).order(:created_at) %>
            <%= render partial: "layouts/online_users", locals: { online_users: } %>
          </ul>
        </div>
      <% end %>
      <div class="p-5" data-testid="tippy-dropdown">
        <%= render TippyDropdownComponent.new %>
      </div>
      <div class="p-5">
        <%= render AlertComponent.new %>
      </div>
      <div class="p-5">
        <%= render DropdownComponent.new %>
      </div>
      <div class="p-5">
        <%= render ModalComponent.new %>
      </div>
      <div class="p-5">
        <%= render ToggleComponent.new %>
      </div>
      <div class="grid grid-cols-2 gap-4 p-5">
        <% text = "aa\r\nbb\n\ncc\n\n\n<script>alert(\"XSS\")</script>\n<a href=\"/\">Home</a>" %>
        <div><%= nl2br(text) %></div>
        <textarea readonly rows="<%= text.lines.size %>" class="block w-full resize-none border-0 p-0 ring-0 focus:ring-0"><%= text %></textarea>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
