<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- https://flowbite.com/docs/components/sidebar/#sidebar-with-navbar -->
    <%= render NavbarComponent.new %>
    <%= render SidebarComponent.new %>

    <!-- ml-64 はサイドバーの w-64 と揃える -->
    <!-- mt-14 はナブバーの高さ -->
    <div class="mt-14 p-4 sm:ml-64">
      <% if notice %>
        <div class="mb-4 rounded-lg bg-blue-50 p-4 text-sm text-blue-800" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <div class="p-5">
        <div
          data-controller="tippy-dropdown"
          data-tippy-dropdown-placement-value="right-start"
          data-tippy-dropdown-show-class="block"
          data-tippy-dropdown-hide-class="hidden"
          data-testid="tippy-dropdown"
        >
          <button
            type="button"
            class="flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-300"
            aria-expanded="false"
            data-tippy-dropdown-target="button"
          >
            <span class="sr-only">Open user menu</span>
            <img
              class="h-8 w-8 rounded-full"
              src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
              alt="user photo"
            />
          </button>
          <div
            class="z-50 hidden list-none divide-y divide-gray-100 rounded bg-white text-base shadow"
            data-tippy-dropdown-target="content"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900" role="none">Neil Sims</p>
              <p class="truncate text-sm font-medium text-gray-900" role="none">
                neil.sims@flowbite.com
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem"
                  >Settings</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem"
                  >Earnings</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
