<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if ActiveRecord::Type::Boolean.new.cast(params[:navbar]) %>
      <%= render PageCornerRibbonComponent.new %>
      <%= render NavbarComponent.new %>
      <%= render SidebarComponent.new %>
      <div class="mt-14 p-4 sm:ml-64">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
