<!DOCTYPE html>
<html class="<%= "h-full" if action_name == "_404" %>">
  <head>
    <title>ViewComponentSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-cache-control" content="no-cache">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "h-full" if action_name == "_404" %>">
    <% if action_name == "_404" %>
      <%= yield %>
    <% else %>
      <div class="p-10">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
